@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 300;
  src: local('RobotoDraft Light'), local('RobotoDraft-Light'), url(https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwfR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(https://fonts.gstatic.com/s/robotodraft/v4/0xES5Sl_v6oyT7dAKuoni7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local('RobotoDraft Medium'), local('RobotoDraft-Medium'), url(https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwaTA90I55Xt7owhZwpPnMsc.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local('RobotoDraft Bold'), local('RobotoDraft-Bold'), url(https://fonts.gstatic.com/s/robotodraft/v4/u0_CMoUf3y3-4Ss4ci-VwRbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: local('RobotoDraft Italic'), local('RobotoDraft-Italic'), url(https://fonts.gstatic.com/s/robotodraft/v4/er-TIW55l9KWsTS1x9bTfoo3ZslTYfJv0R05CazkwN8.woff) format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v10/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Styles go here */

.node{
  border-left:2px transperent solid;
  mouse-pointer:hand; 
}
.node-toggler{
  mouse-pointer:cursor;
}
.node:hover{
  background-color:lightgray;
}

.node-selected{
  border-left:2px Red solid;
  background-color:lightgray;
}
/* line 1, ../../source/scss/ng-img-crop.scss */
img-crop {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  border: solid 1px silver;
  background-color: lightgrey;
}
/* line 7, ../../source/scss/ng-img-crop.scss */
img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}

/* 
Show the image as background to display: block;
*/
.bgImage {
    position: fixed;
    top: 0;
    left: 0;/* Preserve aspet ratio */
    min-width: auto;
    min-height: auto;
    image-rendering: pixelated;
    background-size: cover;
}
.bgOverlay {
    position: relative;
}

.whiteText {
    color: white;
}


$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; 
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.avatar, avatar-small {
  border-radius: 99%;
  border: 1px solid #ddd;
  width: 55px;
  height: 55px;
  margin: 0px;
  }
.avatar-small {
   border-radius: 99%;
   border: 3px solid #fff;
   width: 35px;
   height: 35px;
   margin: 0px;
  }

ng-md-icon {
/*/
/fill: currentColor;/
/vertical-align: middle;/
/display: inline-block;*/
line-height: 1;
}

.inputdemoErrorsAdvanced {
  /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
  /* Setup animations similar to the ng-messages */ }
   .hint {
    /* Position the hint */
/*     position: absolute; */
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }
  .hint.ng-hide,
  .hint.ng-enter,
  .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
  .hint.ng-leave,
  .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }


.icondemoSvgIconSets .s16 {
  width: 16px;
  height: 16px; 
}
.icondemoSvgIconSets .s48{
    height: 48px;
    width: 48px;
}

.wi {
  font-size: 2.8rem;
  display: block;
}

md-icon {
  width : 2.8rem;
  height: 2.8rem;  
}

.toolbarScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }

.grid-tile-footer{
  background-color: rgba(0,0,0,.5)!important;
  color: white;
  /* padding:2px; */
  text-alignment: left !important;
  }

/*  Select User item template */
.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }

  /*  Select User item template Ends */
.circle
{
  border-radius:50%;
  color:#fff;
  width:40px;
  height:40px;
  line-height:40px;
  text-align:center;
  background: dimgrey;
  border-radius: 20% !important;
  border-bottom-right-radius: 0 !important;
}
 
.transperent-bg{
  background-color:transparent;
}
.blur5{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.blur10{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.login-input{
/*   background-color: whitesmoke;
  border-radius:5px;
  background: rgba(250, 250, 250, 0.75); */
}
.content-height{
  height:90vh;
}

.small-txt{
  font-size:x-small;
}


@-webkit-keyframes rotating {
0% { -webkit-transform: rotate(0deg);}
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotating {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}
@-o-keyframes rotating {
0% { -o-transform: rotate(0deg);}
100% { -o-transform: rotate(360deg);}
}
@-ms-keyframes rotating {
0% { -ms-transform: rotate(0deg);}
100% { -ms-transform: rotate(360deg);}
}
@-keyframes rotating {
0% { transform: rotate(0deg);}
100% { transform: rotate(360deg);}
}


.rotating {
    -webkit-animation: rotating 2s infinite linear;
    -moz-animation: rotating 2s infinite linear;
    -o-animation: rotating 2s infinite linear;
    -ms-animation: rotating 2s infinite linear;
    animation: rotating 2s infinite linear;
}


.thumbnail-card{
  border:1px solid silver;
  height:100px;
  width:100px;
  padding:5px;
}
.thumbnail-img{
  height:100px;
  width:100px;
}