<div ng-controller="loginCtrl">
	<img class="bgImage" src="./content/images/people.png" alt="" style="	">
	
	<md-content layout-padding>
		<h4 class="md-title">{{title}}</h4>
		<form name="userForm">
			<div layout="row">
				<div flex="10"></div>
				<div flex="70">
				  <div layout="column">
					<md-input-container >
					  <label>Mobile No.</label>
					  <input ng-model="authModel.userName">
					</md-input-container>
					<md-input-container >
					  <label>Pin</label>
					  <input ng-model="authModel.password" type="password">
					</md-input-container>
				  </div>
				  <div layout layout-sm="row">
					<md-button ng-click="verify()">Ok</md-button>
					<md-button>Cancel</md-button>
				  </div>
				  <div layout layout-sm="row">
					<a href="" ui-sref="account.resendpin" type="" > Forgot password?</a> 
				  </div>
				</div>
				<div layout="column" flex="15"></div>
		  </div>
        
		</form>
  </md-content>
            
      
</div>
