<div ng-controller="loginCtrl">
	<img class="bgImage blur5"  src="./content/images/people_faces.png" alt="" style="	">
	
	<md-content  layout-padding class="transperent-bg">
		<a href="" ui-sref="home" style="color:white;text-decoration:none;" ><b class="md-title">{{title}}</b></a>	
	</md-content>
	<md-footer layout-padding class="transperent-bg">
		
		<form name="userForm" >
			<div layout="row">
			   <div class="panel" flex="20" flex-gt-xs="30" show-gt-xs>
			   </div>
			   <div class="panel" flex="60" >
				   <div layout="column">
				   		
						<md-input-container  class="login-input" >
						  <label>Mobile No.</label>
						  <input  ng-model="authModel.userName">
						</md-input-container>
						<md-input-container class="login-input" >
						  <label>Pin</label>
						  <input ng-model="authModel.password" type="password">
						</md-input-container>
						
						<md-button class="md-button md-raised md-primary" ng-click="verify()">Ok</md-button>
						
					</div>
					
			   </div>
			   <div class="panel" flex="20" flex-gt-xs="30" show-gt-xs >
			   </div>
			</div>
		</form>
  </md-footer>
</div>
