<div ng-controller="registerController">
  <h4>{{title}}</h4>
  
  <div class="">
  
    <div class="" layout="row">
      <div flex="10"></div>
      <div flex="70">
        <div layout="column">
          <md-input-container >
            <label>First Name</label>
            <input ng-model="registerModel.fn">
          </md-input-container>
          <md-input-container >
            <label>Last Name</label>
            <input ng-model="registerModel.ln" >
          </md-input-container>
          <md-input-container >
            <label>Mobile Number <sup>*</sup></label>
            <input ng-model="registerModel.mobileno" >
          </md-input-container>
        </div>
        <div layout layout-sm="row">
          <md-button class="md-raised md-primary" ng-click="register()">Join</md-button>
          <md-button class="md-raised md-primary">Cancel</md-button>
        </div>
        <div class="form-group">
        
          <div class="col-xs-10 col-sm-5">
            <md-button href="" ng-href="#resendpin" type="button" style="btn btn-danger"> Already registered?</md-button>
          </div>
        </div>
      </div>

      
      

    </div>
  </div>
  
</div>