<div ng-controller="resendPinCtrl">
  <md-content layout-padding>
		<h4 class="md-title">{{title}}</h4>
		<form name="userForm">
			<div layout="row">
				<div flex="10"></div>
				<div flex="70">
				  <div layout="column">
					<md-input-container >
					  <label>Mobile No.</label>
					  <input ng-model="pinModel.mobileno">
					</md-input-container>
				  </div>
				  <div layout layout-sm="row">
					<button class="md-button md-raised" ng-click="resendPin()">Resend Pin</button>
					
				  </div>
				</div>
				<div layout="column" flex="15"></div>
		  </div>
        
		</form>
  </md-content>
</div>