/* 
Show the image as background to display: block;
*/
.bgImage {
    position: fixed;
    top: 0;
    left: 0;/* Preserve aspet ratio */
    min-width: auto;
    min-height: auto;
    image-rendering: pixelated;
    background-size: cover;
}
.bgOverlay {
    position: relative;
}

.whiteText {
    color: white;
}


$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.avatar {
  border-radius: 99%;
  border: 1px solid #ddd;
  width: 55px;
  height: 55px;
  margin: 0px;
  }

ng-md-icon {
/*/
/fill: currentColor;/
/vertical-align: middle;/
/display: inline-block;*/
line-height: 1;
}

.inputdemoErrorsAdvanced {
  /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
  /* Setup animations similar to the ng-messages */ }
   .hint {
    /* Position the hint */
/*     position: absolute; */
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }
  .hint.ng-hide,
  .hint.ng-enter,
  .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
  .hint.ng-leave,
  .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }


.icondemoSvgIconSets .s16 {
  width: 16px;
  height: 16px; 
}
.icondemoSvgIconSets .s48{
    height: 48px;
    width: 48px;
}

.wi {
  font-size: 2.8rem;
  display: block;
}

md-icon {
  width : 2.8rem;
  height: 2.8rem;  
}

.toolbarScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }

.grid-tile-footer{
  background-color: rgba(0,0,0,.5)!important;
  color: white;
  /* padding:2px; */
  text-alignment: left !important;
  }

/*  Select User item template */
.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }

  /*  Select User item template Ends */
.circle
{
  border-radius:50%;
  color:#fff;
  width:40px;
  height:40px;
  line-height:40px;
  text-align:center;
  background: dimgrey;
  border-radius: 20% !important;
  border-bottom-right-radius: 0 !important;
}
 
.transperent-bg{
  background-color:transparent;
}
.blur5{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.blur10{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.login-input{
  background-color:white;
  border-radius:5px;
}