<!DOCTYPE html>
<html ng-app="cp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Collaborate</title>
  <link rel="shortcut icon" type="image/png" href="./content/images/cp.png"/>
  <link rel="stylesheet" href="./content/angular-material-1.0.4/angular-material.min.css">
  <link rel="stylesheet" href="./content/angular-material-1.0.4/angular-material.layouts.min.css">  
  <link rel="stylesheet" href="./content/robotodraft.css">
  <link rel="stylesheet" href="./content/icon.css">
  <link rel="stylesheet" href="./content/eztree.css">
  <link rel="stylesheet" href="./content/style.css">
  <link rel="stylesheet" href="./content/ng-img-crop.css">
  
<!--    <link rel="stylesheet" href="./client/styles.css">  -->
</head>
<body ng-controller="mainController" >
    
    <div ui-view >
    </div>

<!--
    <script src="./scripts/angular/angular.min.js"></script>
    <script src="./scripts/angular/angular-animate.min.js"></script>
    <script src="./scripts/angular/angular-aria.min.js"></script>
    <script src="./scripts/angular/angular-sanitize.min.js"></script>
    <script src="./scripts/angular-material-1.0.4/angular-material.min.js"></script>
    <script src="./scripts/angular-material-icons.min.js"></script>
    <script src="./scripts/angular-cache.min.js"></script>  
    <script src="./scripts/angular-ui-router.js"></script>
    <script src="./scripts/ng-file-upload.js"></script>  
    <script src="./scripts/ng-img-crop.min.js"></script>  
    <script src="./scripts/underscore-min.js"></script>
    <script src="./scripts/moment.min.js"></script>
    <script src="./scripts/angular-moment.min.js"></script>
    <script src="./scripts/ngStorage.min.js"></script>
    <script src="./scripts/angular-ellipsis.min.js"></script>
    <script src="./scripts/angular-md-pull-to-refresh.js"></script>
-->
    <script src="./client/vendor.js"></script>

    
    <script src="./scripts/ez-directives/ezTree.directive.js"></script>
    <script src="./scripts/ez-directives/ezImageUpload.directive.js"></script>
    <script src="./scripts/ez-directives/ezInitials.directive.js"></script>
    
<!--     <script src="./client/directives.js"></script> -->
    
    

    <script src="./app/config.js"></script>
    <script src="./app/cp.js"></script>
    <script src="./app/storage.service.js"></script>
    <script src="./app/data.service.js"></script>
    <script src="./app/repo.service.js"></script>
    <script src="./app/auth.service.js"></script>
    <script src="./app/httpInterceptor.js"></script>

    <script src="./app/main.controller.js"></script>
    <script src="./app/home.controller.js"></script>
    <script src="./app/init.controller.js"></script>
    <script src="./app/intro.controller.js"></script>
    <script src="./app/account/login.controller.js"></script>
    <script src="./app/account/register.controller.js"></script>
    <script src="./app/account/resendpin.controller.js"></script>
    <script src="./app/userSelector.controller.js"></script>
    <script src="./app/index.controller.js"></script>
    <script src="./app/assets/dashboard.controller.js"></script>  
    <script src="./app/groups/groups.controller.js"></script>
    <script src="./app/groups/addEditGroup.controller.js"></script>
    <script src="./app/groups/groupDetail.controller.js"></script>
    <script src="./app/assets/assets.controller.js"></script>



<!--      <script src="./client/app.js"></script>  -->
     
  </body>
</html>