<!DOCTYPE html>
<html ng-app="cp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <title>-easy split-</title> 
<!--   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css"> -->
<!--   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic"> -->
<!--   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  
  <link rel="stylesheet" href="./content/angular.material-1.0.0.min.css">
  <link rel="stylesheet" href="./content/robotodraft.css">
  <link rel="stylesheet" href="./content/icon.css">

  <link  rel="stylesheet" href="./content/eztree.css">
  <link rel="stylesheet" href="./content/style.css">

<!--   <script src ="scripts/angulargrid.min.js"></script> -->
<!--   <script src ="scripts/angular-masonry.js"></script>
  <script src ="scripts/imagesloaded.js"></script>
   -->
  
</head>

<body  ng-controller="mainController" >

  <div ui-view >

  </div>

</body>
  
  
<!-- Angular Material Dependencies -->

<!--   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script> -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script> -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script> -->
<!--   <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>  -->

  <script src="./scripts/angular/angular.min.js"></script>
  <script src="./scripts/angular/angular-animate.min.js"></script>
  <script src="./scripts/angular/angular-aria.min.js"></script>
  <script src="./scripts/angular/angular-sanitize.min.js"></script>
  <script src="./scripts/angular-material-0.11.4.min.js"></script>
  <script src="./scripts/angular-material-icons.min.js"></script>
  <script src="./scripts/underscore-min.js"></script>
  
  <!--THIRD PARTY PLUGINS-->

  <script src ="scripts/angular-ui-router.js"></script>
  
  <script src ="scripts/ng-file-upload.js"></script>
  
  <script src="scripts/ngStorage.min.js"></script>
  <script src="./scripts/ez-directives/ezTree.directive.js"></script>
  <script src="./scripts/ez-directives/ezImageUpload.directive.js"></script>
  <script src="./scripts/ez-directives/ezInitials.directive.js"></script>
  
  <!--Applciation files-->
  <script src="app/cp.js"></script>
  <script src="app/storage.service.js"></script>
  <script src="app/data.service.js"></script>
  <script src="app/auth.service.js"></script>
  <script src="app/httpInterceptor.js"></script>
  <script src="app/config.js"></script>
  <script src="app/main.controller.js"></script>
  <script src="app/home.controller.js"></script>
  <script src="app/init.controller.js"></script>
  <script src="app/intro.controller.js"></script>
  <script src="app/account/login.controller.js"></script>
  <script src="app/account/register.controller.js"></script>
  <script src="app/account/resendpin.controller.js"></script>

  <script src="app/userSelector.controller.js"></script>
  
  <script src="app/index.controller.js"></script>
  <script src="app/assets/dashboard.controller.js"></script>  
  <script src="app/groups/groups.controller.js"></script>
  <script src="app/groups/addEditGroup.controller.js"></script>
  <script src="app/groups/groupDetail.controller.js"></script>

</html>