<!DOCTYPE html>
<html ng-app="cp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>-easy split-</title>
  
  <link rel="stylesheet" href="./content/angular.material-1.0.0.min.css">
  <link rel="stylesheet" href="./content/robotodraft.css">
  <link rel="stylesheet" href="./content/icon.css">
  <link rel="stylesheet" href="./content/eztree.css">
  <link rel="stylesheet" href="./content/style.css">
  
<!--   <link rel="stylesheet" href="./client/styles.css"> -->
</head>
<body ng-controller="mainController" >
    <div ui-view >
    </div>

    <!--  
    <script src="./scripts/angular/angular.min.js"></script>
    <script src="./scripts/angular/angular-animate.min.js"></script>
    <script src="./scripts/angular/angular-aria.min.js"></script>
    <script src="./scripts/angular/angular-sanitize.min.js"></script>
    <script src="./scripts/angular-material-0.11.4.min.js"></script>
    <script src="./scripts/angular-material-icons.min.js"></script>
    <script src="./scripts/angular-cache.min.js"></script>  
    <script src="./scripts/angular-ui-router.js"></script>
    <script src="./scripts/ng-file-upload.js"></script>  
    <script src="./scripts/underscore-min.js"></script>
    <script src="./scripts/ngStorage.min.js"></script>

    <script src="./scripts/ez-directives/ezTree.directive.js"></script>
    <script src="./scripts/ez-directives/ezImageUpload.directive.js"></script>
    <script src="./scripts/ez-directives/ezInitials.directive.js"></script>
    -->
    <script src="./client/vendor.js"></script>
    <script src="./client/directives.js"></script>

    <script src="./app/config.js"></script>
    <script src="./app/cp.js"></script>
    <script src="./app/storage.service.js"></script>
    <script src="./app/data.service.js"></script>
    <script src="./app/auth.service.js"></script>
    <script src="./app/httpInterceptor.js"></script>

    <script src="./app/main.controller.js"></script>
    <script src="./app/home.controller.js"></script>
    <script src="./app/init.controller.js"></script>
    <script src="./app/intro.controller.js"></script>
    <script src="./app/account/login.controller.js"></script>
    <script src="./app/account/register.controller.js"></script>
    <script src="./app/account/resendpin.controller.js"></script>
    <script src="./app/userSelector.controller.js"></script>
    <script src="./app/index.controller.js"></script>
    <script src="./app/assets/dashboard.controller.js"></script>  
    <script src="./app/groups/groups.controller.js"></script>
    <script src="./app/groups/addEditGroup.controller.js"></script>
    <script src="./app/groups/groupDetail.controller.js"></script>



<!--<script src="./client/app.js"></script>-->
  </body>
</html>