<div ng-controller="indexCtrl">
   <div class="navbar navbar-material-light-blue-600" role="navigation">
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle" style="float:none" ng-click="slideMenuOpen=!slideMenuOpen">
        <span class="mdi-navigation-menu"></span>
        
      </button>
      <span>{{currentViewName}}</span>
      
    </div>
    
  </div>
  <div>
    <pageslide class="navbar navbar-material-light-blue-400" 
        ps-side="left" ps-push="true" ps-size="100px" 
        ps-open="slideMenuOpen" >
        <div >
            <div class="slide-menu">
              <button type="button" class="navbar-toggle" style="float:none" ng-click="slideMenuOpen=!slideMenuOpen">
                <span class="mdi-navigation-menu"></span>
              </button>
              <img src="content/images/arrows-icon.svg" style="height: 50px;">
              <ul class="nav navbar-nav" style="padding:5px">
                
                <li class=""><a ui-sref="index.dashboard">Dashboard</a></li>
                <li class=""><a ui-sref="index.groups">Groups</a>
                  <ul class="nav navbar-nav margin-left-5">
                    <li class="" ng-repeat="g in myGroups">
                      <a ui-sref="index.group({id: g.ExternalId})">{{g.Name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            
        </div>
        
    </pageslide>
  <div ui-view class="content">
      

  </div>  