<!-- Side nav, main container -->
<div  ng-controller="indexCtrl" md-theme="{{themes[theme]}}" md-theme-watch="true">
  <section layout="column" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
        <md-toolbar class="md-tall md-hue-2">
          <span flex></span>
          <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>
            <div>{{AUTHDATA.FirstName}} {{AUTHDATA.LastName}}</div>
          </div>
        </md-toolbar>
        <md-list>
          <md-item >
            <md-button >
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="dashboard"></ng-md-icon>
                </div>
                <div class="inset">Dashboard
                </div>
              </md-item-content>
            </md-button>
          </md-item>
          <md-divider></md-divider>
          <md-item>
            <md-button ui-sref="index.groups">
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">

                  <ng-md-icon icon="group"></ng-md-icon>
                </div>
                <div class="inset">Groups
                </div>
              </md-item-content>
            </md-button>
          </md-item>
<!--           <md-item layout="" ng-repeat="item in myGroups">
            <md-button ui-sref="index.group({'id':item.ExternalId})">
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="people"></ng-md-icon>

                </div>
                <div class="inset">{{item.Name}}
                </div>
              </md-item-content>
            </md-button>
          </md-item> -->
          <md-divider></md-divider>
          <md-item>
            <md-button ng-click="nextTheme()">
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">

                  <ng-md-icon icon="format_color_fill"></ng-md-icon>
                </div>
                <div class="inset">Change color
                </div>
              </md-item-content>
            </md-button>
          </md-item>
        </md-list>
    </md-sidenav>
    
    <div layout="column" layout-fill role="main">
<!--       <md-content style="background-color:whiteframe;"> -->
        <hr/>
        <ui-view layout="column" layout-fill >
<!--           <div class="inset" hide-sm></div> -->

        <md-view >
<!--       </md-content> -->
    </div>
  </section>
</div>