  <!-- Side nav, main container -->
<div  ng-controller="indexCtrl" md-theme="{{themes[theme]}}" md-theme-watch="true">
  <section layout="column" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >
        <md-toolbar class="md-tall md-hue-2">
          <span flex></span>
          <div layout="column" class="md-toolbar-tools-bottom inset">
            <img class="md-avatar thumbnail-img"  style="height:70px;:70px" ng-src="{{AUTHDATA.Picture}}"></img>
            <span></span>
            <div>{{AUTHDATA.FirstName}} {{AUTHDATA.LastName}}</div>
            <div layout="row">
              <md-icon-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="logoff()">
                  <i class="material-icons">exit_to_app</i>
              </md-icon-button>
              <div flex></div>
              <md-icon-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="editProfile()">
                  <i class="material-icons">settings</i>
              </md-icon-button>
            </div>    
          </div>
        </md-toolbar>
        <md-list>
          <md-list-item  >
              <md-list-content  ng-click="toggleLeft()"  md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="dashboard"></ng-md-icon>
                </div>
                <div class="">Dashboard
                </div>
              </md-list-content>
          </md-list-item >
          <md-divider></md-divider>
          <md-subheader ui-sref="index.groups"  aria-label="goups">
            <div layout="row">
                <div >
                <ng-md-icon icon="group"></ng-md-icon>
                </div>
                <div>Groups</div>
            </div>
          </md-subheader>
          <md-list-item layout="" ng-repeat="item in myGroups">
              <md-item-content  ng-click="toggleLeft()"  ui-sref="index.group({'id':item._id})" md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                  <ng-md-icon icon="people"></ng-md-icon>
                </div>
                <div class="">{{item.Name}}</div>
                
              </md-item-content>
          </md-list-item>
          <md-list-item ng-if="myGroups.length > 1">
            <md-item-content ng-click="toggleLeft()" ui-sref="index.groups"  aria-label="goups" md-ink-ripple layout="row" layout-align="start center">
                More...
              </md-item-content>
          </md-list-item >
          <md-divider></md-divider>
          <md-item>
            <md-button ng-click="nextTheme()">
              <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">

                  <ng-md-icon icon="format_color_fill"></ng-md-icon>
                </div>
                <div class="">Change color
                </div>
              </md-item-content>
            </md-button>
          </md-item>
        </md-list>
    </md-sidenav>
    
    <div layout="column"  role="main">
        <div style="background-color:whiteframe;"> 
            
            <ui-view layout="column" >
              <div class="inset" hide-sm></div>

            <md-view >
        </div>   
    </div>
  </section>
</div>