<div ng-controller="introController" >
	<img class="bgImage blur5" src="./content/images/people_faces.png" alt="" style="	">
	
	<md-content  layout-padding class="transperent-bg">
<!-- 		<img class="bgImage" src="./content/images/people_faces.png" alt="" style="	"> -->
		
	</md-content>
   <md-bottom-sheet class="transperent-bg">
      <div layout-padding class="bgOverlay" ng-show="revelView">
			
			<div class="" style="text-align:center; carousel-caption center width:auto;" >
				<h1><span class="">{{_appName}}</span> </h1>
				<md-button ui-sref="account.login" class="md-raised md-default"> Sign in </md-button>
				<md-button ui-sref="account.register" class="md-raised md-default"> Register </md-button> 
				 
			</div>
			<div ui-view>
				
			</div>
		</div>
		<div class="bgOverlay" ng-show="!revelView">
			<h4 style="color:white;"> Loading...</h4>
		</div>	
   </md-bottom-sheet>
	
</div>
