<div ng-controller="introController">

	<img class="bgImage" src="./content/images/people_faces.png" alt="" style="	">
	<div class="bgOverlay" ng-show="revelView">
		
		<div class="center" style="carousel-caption center width:auto;" >
			<h1><span class="whiteText">Collabourate</span> </h1>
			<a  ui-sref="account.login"  class="btn  btn-success">Sign in</a> 
			<a  ui-sref="account.register"  class="btn  btn-success">Register</a> 
		</div>
		<div ui-view>
			
		</div>
	</div>
	<div class="bgOverlay" ng-show="!revelView">
		<h4 style="color:white;"> Loading...</h4>
	</div>
	
</div>
