/* Styles go here */

.center {
    text-align: center;
}

body {

}

/*----------------------BOOTSTRAP OVERRIDES----------------------*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.navbar {
    margin-bottom: 10px;
    border: 1px solid transparent;
}
body .well, .container .well, .container-fluid .well, body .jumbotron, .container .jumbotron, .container-fluid .jumbotron{
    margin-bottom:10px
}
/*----------------------BOOTSTRAP OVERRIDES Ends------------------*/
/* 
Show the image as background to display: block;
*/
.bgImage {
    position: fixed;
    top: 0;
    left: 0;/* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    image-rendering: pixelated;
}
.bgOverlay {
    position: relative;
}

.whiteText {
    color: white;
}

.margin-5{
    margin:5px
}


.margin-left-5{
    margin-left:5px
}
.margin-right-5{
    margin-right:5px
}
.margin-top-5{
    margin-top:5px
}
.margin-bottom-5{
    margin-bottom:5px
}

/***
BREAD CRUMB

*/


.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 55px;
    background: brown;
    /* fallback color */
    background: hsla(34,85%,35%,1);
    position: relative;
    display: block;
    float: left;
}
.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(34,85%,35%,1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.breadcrumb li:first-child a {
    padding-left: 10px;
}
.breadcrumb li:nth-child(2) a {
    background: hsla(34,85%,45%,1);
}
.breadcrumb li:nth-child(2) a:after {
    border-left-color: hsla(34,85%,45%,1);
}
.breadcrumb li:nth-child(3) a {
    background: hsla(34,85%,55%,1);
}
.breadcrumb li:nth-child(3) a:after {
    border-left-color: hsla(34,85%,55%,1);
}
.breadcrumb li:nth-child(4) a {
    background: hsla(34,85%,65%,1);
}
.breadcrumb li:nth-child(4) a:after {
    border-left-color: hsla(34,85%,65%,1);
}
.breadcrumb li:nth-child(5) a {
    background: hsla(34,85%,75%,1);
}
.breadcrumb li:nth-child(5) a:after {
    border-left-color: hsla(34,85%,75%,1);
}
.breadcrumb li:last-child a {
    background: white !important;
    color: black;
    pointer-events: none;
    cursor: default;
}
.breadcrumb li:last-child a:after {
    border: 0;
}
.breadcrumb li a:hover {
    background: hsla(34,85%,25%,1);
}
.breadcrumb li a:hover:after {
    border-left-color: hsla(34,85%,25%,1) !important;
}

/**
	BREAD CRUMB ENDS
*/
/**
    Menu bar
*/
.ng-pageslide {
                background: #eee;
            }

/**
    END of Menu bar
*/

/*
    Animations view
*/
        .ng-leave {
          -webkit-transition: all ease 400ms;
          transition: all ease 400ms;
        }
        .ng-leave.ng-leave-active {
          -webkit-transform: scale(0.5);
          transform: scale(0.5);
          opacity: 0;
        }
        .ng-enter {
          -webkit-transition: all ease 400ms;
          transition: all ease 400ms;
          -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
          -webkit-transform: scale(0.5);
           transform: scale(0.5);
          opacity: 0;
        }
        .ng-enter.ng-enter-active {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1;
        }
        