<div ng-controller="addEditGroupCtrl" >
    <div class="container" ng-if="isLoading">
        <md-progress-linear md-mode="query"></md-progress-linear>
        <div class="bottom-block">
            <p/>
            <span>Loading...</span>
            <p/>
        </div>
    </div>    
    <div ng-if="!isLoading" layout="column" style="min-height:600px" class="toolbarScrollShrink">
      <div ng-switch="currentView">
        <div ng-switch-when="main">
            <md-toolbar md-scroll-shrink="">
              <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ui-sref="index.groups" aria-label="goups">
                    <ng-md-icon icon="keyboard_backspace"></ng-md-icon> 
                </md-button>
                <span flex>{{title}}</span>
                <md-button class="md-icon-button" ng-click="toggleLeft()">
                    <ng-md-icon icon="menu"></ng-md-icon> 
                </md-button>
                
                
              </div>
            </md-toolbar>


            <md-content flex class='md-padding'>  
           
                <span>{{message}}</span>
                <ez-image-upload img="current.group.Thumbnail" ></ez-image-upload>
                
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                    <label>What's the group called!</label>
                    <input ng-model="current.group.Name">
                    </md-input-container>
                    <div class="hint" ></div>
                </div>
                <md-input-container class="md-block">
                    <label>More about this awesome group</label>
                    <textarea ng-model="current.group.Description" columns="1" md-maxlength="150" rows="5"></textarea>
                </md-input-container>
                
                <md-button ng-if="showMemberManagement && current.group._id && current.group._id != ''" class="md-fab md-mini" aria-label="Add" ng-click="showAddMembers()">
                        <md-icon area-label="Add member">person_add</md-icon>
                </md-button>
                <md-sub-header ng-if="current.group._id && current.group._id != ''">Group Members</md-sub-header>
                <md-content>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="item in current.group.Members">

                            <img ng-if="item.Picture!=null" ng-src="{{item.Picture}}" class="md-avatar" />
                            <ez-initials ng-if="item.Picture==null" class="md-avatar" text="item.FirstName" ></ez-initials >

                            <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.FirstName }} {{item.LastName }}</h3>
                                    <p>{{ item.UserName}}, {{item.City }}</p>
                            </div>
                            <md-button ng-if="showMemberManagement" ng-click="removeMemberConfirmation($event,item)">
                                <i class="material-icons">remove_circle_outline</i>
                            </md-button>

                        </md-list-item>
                    </md-list>            
                </md-content>
                <div>
                    <md-button class="md-button md-raised md-primary accent" ng-click="save()">
                        Save
                    </md-button>
                    <md-button class="md-button md-raised md-primary accent" ng-click="cancel()">
                        Cancel
                    </md-button>
                </div>
           
            </md-content>
        </div>
        <div ng-switch-when="members">
            <!--Members list-->
            <md-toolbar md-scroll-shrink="">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button md-cols-7"   ng-click="cancelMemberAdd()">
                        <i class="material-icons">keyboard_backspace</i> 
                    </md-button>
                    <span flex></span>
                    <span>{{current.group.Name}}</span>
                </div>
            </md-toolbar>
            <div flex class='md-padding' >
                Add members
                <!--Add members-->
                <form ng-submit="$event.preventDefault()">
                    <div layout="column" >
<!--                            
                            <md-autocomplete
                                class=""
                                md-selected-item"selectedUser"
                                md-selected-item-change="onItemChanged(d)"
                                md-search-text="searchText"
                                md-items="item in getUsers(searchText)"
                                md-item-text="Name"
                                md-min-length="0"
                                placeholder="Choose group member"
                                md-menu-class="autocomplete-custom-template">
                                <md-item-template>
                                        <span class="item-title" lauout="column"> 
                                            <img ng-if="item.Picture != null" ng-src="{{item.Picture}}" class="md-avatar" />
                                           
                                            <span> {{item.Name}}</span>
                                            <p>{{ item.UserName }}{{item.City}} {{item.Country}}</p>
                                        </span>
                                        <span class="item-metadata">
                                            <span class="item-metastat">
                                            <strong>{{item.City}}</strong> 
                                            </span>
                                        </span>
                                </md-item-template>
                            </md-autocomplete> -->
                            <div layout="row" >
                                <md-button class="md-icon-button" ng-click="searchText=''" >
                                        <ng-md-icon icon="search"></ng-md-icon>
                                </md-button>
                                <md-input-container flex class="flex" md-no-float>
                                        <input placeholder="Search members" ng-model="searchText" ng-change="onSerch(searchText)"/>
                                </md-input-container>

                                <md-button class="md-icon-button" ng-click="searchText=''" >
                                        <ng-md-icon icon="clear"></ng-md-icon>
                                </md-button>
                            </div>
                        <div>
                    </div>
                </form>
                <!--Add members End-->
            </div>
            <md-sub-header ng-show="searchResult.length > 0">{{"Found :" + searchResult.length}}</md-sub-header>
            
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="item in searchResult">
                    
                    <img ng-disabled="item.__added"  ng-if="item.Picture!=null" ng-src="{{item.Picture}}" class="md-avatar" />
                    <ez-initials ng-disabled="item.__added" ng-if="item.Picture==null" class="md-avatar" text="item.FirstName" ></ez-initials >
                    
                    <div class="md-list-item-text" layout="column">
                            <h3>{{ item.FirstName }} {{item.LastName }}</h3>
                            <p>{{ item.UserName}}, {{item.City }}</p>
                            <p>{{item.__added==true?"Added":""}}
                    </div>

                    <md-button ng-disabled="item.__added" ng-click="addMemberConfirmation($event,item)">
                        <i class="material-icons">add_circle_outline</i>
                    </md-button>
                    
                </md-list-item>
            </md-list>            
        
        </div>
    </div>
</div>

