<div ng-controller="groupDetailCtrl" class="col-sm-12" ng-switch="view">
    <div class="container" ng-if="isLoading">
        <md-progress-linear md-mode="query"></md-progress-linear>    
        <div class="" layout="row" layout-align="center">
            <img style="height:100px;width:100px" class="rotating" src="./content/images/cp.png" />
        </div>
    </div>    
    
    <div ng-switch-when="list">
        
        <div ng-if="!isLoading" layout="column" style="height:90vh" class="toolbarScrollShrink">
            
            <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="createAsset()">
                <ng-md-icon icon="add"></ng-md-icon>
            </md-button>
            <md-toolbar md-scroll-shrink="false">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ui-sref="index.groups"  aria-label="groups">
                      <ng-md-icon icon="arrow_back"></ng-md-icon> 
                    </md-button>
                    <span flex>{{group.Name}}</span>
                    <div ng-show="isLoading" class="" layout="row" layout-align="end">
                        <img style="height:50px;width:50px" class="rotating" src="./content/images/cp.png" />
                    </div>
                    <span><img ng-src="{{group.Thumbnail}}"  class="avatar-small" alt="{{group.Name}}"></span>
                </div>
            </md-toolbar>
            <!--search-->
            <md-card md-scroll-shrink="true" style="margin:2px;" ng-show="showSearch">
                <md-card-actions layout="row" layout-align="end center" >
                    <ng-md-icon icon="search"></ng-md-icon>
                    <md-input-container md-theme="input" flex>
                        <label></label>
                        <input ng-model="searchTerm" placeholder="Enter search">
                    </md-input-container>
                    <md-button class="md-icon-button " aria-label="off" ng-click="searchTerm = '';showSearch=false">
                        <ng-md-icon icon="clear"></ng-md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
            <!--group stats-->
            <md-card md-scroll-shrink="true" style="margin:2px;" ng-show="!showSearch">
                <md-card-actions layout="row" layout-align="end center" >
                    <md-button class="md-icon-button " ng-click="showSearch=true">
                        <ng-md-icon icon="search"></ng-md-icon>
                    </md-button>
                    <div flex></div>
                    <ng-md-icon icon="message"></ng-md-icon><div class="inset">{{group.list.length||'--'}}</div>
                    <ng-md-icon icon="people"></ng-md-icon><div class="inset">{{group.Members.length}}</div>
                    <ng-md-icon icon="restore" ng-click="hardRefresh()"></ng-md-icon>
                </md-card-actions>
            </md-card>
            <md-content flex layout-padding class="content-height" im-pull-to-refresh refresh-function="refresh()">
                <span class="md-caption" ng-show="lastUpdated!=null">
                    <small>   
                        Last updated
                         <time title="{{ group.UpdatedOn | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ lastUpdated | amCalendar}}</time>
                    </small>
                </span>
                <!-- Tabls for messages | topics |  -->
                <div >
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Assets">
                            <md-content class="md-padding" >
                                <md-list>
                                    
                                    <md-list-item class="md-3-line md-long-text margin5" 
                                        ng-repeat="item in group.list|filter:searchTerm ">
                                        <img ng-show="item.Thumbnail != null"  ng-src="{{item.Thumbnail}}" class="md-avatar" />
                                        <div class="md-list-item-text">
                                          <span>{{ item.Name }}</span>
                                          <p>{{item.Description}}</p>
                                          <p>
                                            <span class="md-caption" ng-show="!item.isMine"><small>   
                                                {{ item.AuditTrail[0].UpdatedBy.FirstName}} {{item.AuditTrail[0].UpdatedBy.LastName}}
                                                | <time title="{{ item.AuditTrail[0].UpdatedOn | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ item.AuditTrail[0].UpdatedOn  | amCalendar }}</time>
                                            </small>
                                            <span class="md-caption" ng-show="item.isMine"><small>   
                                                You 
                                                | <time title="{{ item.AuditTrail[0].UpdatedOn | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ item.AuditTrail[0].UpdatedOn  | amCalendar }}</time>
                                            </small>
                                          </p>
                                          <div layout="row">
                                            <div flex></div>
                                            <md-button ng-show="!item.isMine" class="md-icon-button" ui-sref="index.groups" aria-label="goups">
                                              <ng-md-icon icon="thumb_up"></ng-md-icon> 
                                            </md-button>
                                          </div>
                                        </div>

                                        <md-divider></md-divider>
                                    </md-list-item>
                                </md-list>
                            <md-content>
                        </md-tab>
                        <md-tab label="Topics">
                            <md-content class="md-padding">
                            <md-content>
                        </md-tab>
                    </md-tabs>
                </div>
            <md-content >
        </div>
    </div>
    <!--Add edit-->
    <div ng-switch-when="item">
        <md-toolbar md-scroll-shrink="false">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="backToList()"  aria-label="goups">
                  <ng-md-icon icon="cancel"></ng-md-icon> 
                </md-button>
                <span flex>{{group.Name}}</span>
                <div ng-show="isSaving" class="" layout="row" layout-align="end">
                    <img style="height:40px;width:40px" class="rotating" src="./content/images/cp.png" />
                </div>
                <span><img ng-src="{{group.Thumbnail}}"  class="avatar-small" alt="{{group.Name}}"></span>
            </div>
        </md-toolbar>
        
        <md-content flex layout-padding class="content-height">
            <form name="assetForm">
                <md-menu>
                  <md-button class="md-button" ng-click="openCategoryMenu($mdOpenMenu, $event)"  aria-label="category">
                        <i class="material-icons">{{selectedCategory.icon}}</i><span class="inset">{{selectedCategory.Name}} </span>
                  </md-button>
                  <md-menu-content >
                    <md-menu-item  ng-repeat="m in categories">
                      <md-button ng-click="setCategory(m,$event)">
                        <ng-md-icon icon="{{m.icon}}" md-menu-align-target></ng-md-icon>
                        <span class="inset">{{m.Name}}</span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
                <div layout="row">
                    <ez-image-upload img="asset.Thumbnail"></ez-image-upload>
                    <md-input-container class="md-block" flex>
                        <label>Title </label>
                        <textarea ng-model="asset.Name" ng-required="true" columns="1" md-maxlength="150" rows="2"></textarea>
                    </md-input-container>
                    
                </div>
                <md-input-container class="md-block">
                  <label>Message</label>
                  <textarea columns="1"  ng-model="asset.Description" rows="5" md-maxlength="1000" ></textarea>
                </md-input-container>
                
                <div layout="row" flex>
                    <md-button ng-show="!isSaving" class="md-primary md-raised md-icon-button accent" aria-label="Settings"
                        ngf-select="uploadFiles($file, $invalidFiles)"  ngf-max-size="100MB">
                      <i class="material-icons">file_upload</i>
                    </md-button>    
                    
                    <div flex></div>
                    <md-button  ng-show="!isSaving" class="md-primary md-raised md-icon-button accent" ng-click="saveAsset()"  aria-label="save">
                      <i class="material-icons">send</i>
                    </md-button>
                </div>
            </form>
        </md-content>
    </div>
    <!--View-->
    <div ng-switch-when="view">
        <md-toolbar md-scroll-shrink="false">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="backToList()"  aria-label="goups">
                  <ng-md-icon icon="cancel"></ng-md-icon> 
                </md-button>
                <span flex>{{group.Name}}</span>
                <div ng-show="isSaving" class="" layout="row" layout-align="end">
                    <img style="height:40px;width:40px" class="rotating" src="./content/images/cp.png" />
                </div>
                <span><img ng-src="{{group.Thumbnail}}"  class="avatar-small" alt="{{group.Name}}"></span>
            </div>
        </md-toolbar>
        
        <md-content flex layout-padding class="content-height">
            <form name="assetForm">
                <md-menu>
                  <md-button class="md-button" ng-click="openCategoryMenu($mdOpenMenu, $event)"  aria-label="category">
                        <i class="material-icons">{{selectedCategory.icon}}</i><span class="inset">{{selectedCategory.Name}} </span>
                  </md-button>
                  <md-menu-content >
                    <md-menu-item  ng-repeat="m in categories">
                      <md-button ng-click="setCategory(m,$event)">
                        <ng-md-icon icon="{{m.icon}}" md-menu-align-target></ng-md-icon>
                        <span class="inset">{{m.Name}}</span>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
                <div layout="row">
                    <ez-image-upload img="asset.Thumbnail"></ez-image-upload>
                    <md-input-container class="md-block" flex>
                        <label>Title </label>
                        <textarea ng-model="asset.Name" ng-required="true" columns="1" md-maxlength="150" rows="2"></textarea>
                    </md-input-container>
                    
                </div>
                <md-input-container class="md-block">
                  <label>Message</label>
                  <textarea columns="1"  ng-model="asset.Description" rows="5" md-maxlength="1000" ></textarea>
                </md-input-container>
                
                <div layout="row" flex>
                    <md-button ng-show="!isSaving" class="md-primary md-raised md-icon-button accent" aria-label="Settings"
                        ngf-select="uploadFiles($file, $invalidFiles)"  ngf-max-size="100MB">
                      <i class="material-icons">file_upload</i>
                    </md-button>    
                    
                    <div flex></div>
                    <md-button  ng-show="!isSaving" class="md-primary md-raised md-icon-button accent" ng-click="saveAsset()"  aria-label="save">
                      <i class="material-icons">send</i>
                    </md-button>
                </div>
            </form>
        </md-content>
    </div>
</div>
<script type="text/ng-template" id="thumbnailDialogTemplate.html"> 
</script>

<!--TEMPLATES-->
